<!-- This is the main HTML file for a Vite + React application. It includes the necessary meta tags, links to stylesheets, and a script to load the JavaScript bundle. -->
# Node modules
node_modules

# Build output
dist
dist-ssr
*.local
# Logs
logs
# Mac System files
*.DS_Store